Hi {{ first_name or 'Hiring Team' }},

I'm Tarandeep Singh Juneja, a final-year B.Tech Computer Science student at Vellore Institute of Technology and I'm reaching out to express my interest in Software Engineering roles at {{ company or company_name }}.

I recently completed my internship at IIT Bombay (FOSSEE), where I contributed to the Osdag structural design software, improving its GUI and implementing parameter-freeze functionalities.

Beyond that, I've built projects like an Audio Classification Visualizer (83.5% accuracy) and a Credit Card Fraud Detection System (92% accuracy on 284K+ transactions) — blending backend development with applied machine learning.

Here's my 
Resume: https://drive.google.com/file/d/1ERjWE2UZzZpNxFArW6ET3KAHOAipWTLC/view?usp=sharing
GitHub: https://github.com/tsj2003
LinkedIn: https://www.linkedin.com/in/tarandeep-singh-juneja-55542424b
portfolio: https://portfoliobytsj.netlify.app

I'd appreciate the opportunity to connect or be considered for any openings that align with my skills in Python, ML, and backend development.

Thank you for your time and consideration.

Warm regards,

Tarandeep Singh Juneja
📞 +91 90985 20440
✉️ tarandeepjuneja11@gmail.com
