Hi {{ hr_name or first_name or "there" }},

I’m Tarandeep Singh Juneja, a final-year B.Tech Computer Science student at Vellore Institute of Technology of Technology  with a CGPA of 8.53 and hands-on experience in Python, Machine Learning, and Backend Development.

I recently completed a Summer Internship at IIT Bombay (FOSSEE), where I contributed to Python-based structural design software used by 500+ global engineers. In addition, as a Software Taxonomy Analyst at Outlier AI, I worked on multi-language code classification and ML data curation.

With over 500+ DSA problems solved and projects spanning AI, data pipelines, and backend systems, I’m passionate about developing scalable, intelligent solutions. I’m currently seeking Software Engineer / ML Engineer roles where I can contribute to innovative, data-driven products.

I’ve attached my CV for your review and would love to discuss potential opportunities at {{ company or company_name or "your company" }}. Please find my profiles and portfolio below:

LinkedIn: linkedin.com/in/tarandeep-singh-juneja
GitHub: github.com/tsj2003
Portfolio: portfoliobytsj.netlify.app

Thank you for your time and consideration. Looking forward to connecting!

Warm regards,
Tarandeep Singh Juneja
+91 9098520440
✉️ tarandeepjuneja11@gmail.com
